<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{% block title %}{% endblock %}</title>
		<base href="{{common.rootUri}}/">
		<link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
		<!-- <link rel="alternative stylesheet" type="text/css" media="screen" href="css/accessibility.css"> -->
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<!-- <script type="text/javascript" src="js/global.js"></script> -->
		<!-- <script type="text/javascript" src="js/#.js"></script> -->

		{% block header %}{% endblock %}
	</head>
 
	<body>
		{% block content %}
		{% endblock %}
	</body>
</html>
